.homeGrid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  grid-column: 1/-1;
  grid-row: 1 / -1;
  z-index: -1);
}

.homeinfogrid {
  pointer-events: none;
  grid-column: 1/-1;
  grid-row: 1 / -1;
  height: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 4rem max-content 1fr 5fr max-content 4rem;
  grid-template-rows: 7rem 1fr 15rem 2rem;
}

.topbar{
  grid-column: 5 / 6;
  grid-row: 1/ 2;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.topbarBlack{
  grid-column: 4 / 6;
  grid-row: 1/ 2;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  font-weight: 300;
  letter-spacing: 0.8rem;
  color: white;
  font-size: 3.6rem;
  font-weight: 300;
  grid-column: 2/3;
  grid-row: 1/ 2;
  align-self: center;
}

.card {
  pointer-events: all;
  grid-column: 5 / 6;
  grid-row: 2/ 4;
  position: relative;
  width: 60rem;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem;
  
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .card {
      -webkit-backdrop-filter: blur(1rem);
      backdrop-filter: blur(1rem);
      background-color: rgba(0, 0, 0, 0.12);  
    }

  }

  .cardBlack {
    pointer-events: all;
    grid-column: 4/6;
    grid-row: 2/ 4;
    position: relative;
    height: 100%;
    padding: 2rem;
    border-radius: 2rem;
  }  

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .cardBlack {
      -webkit-backdrop-filter: blur(1rem);
      backdrop-filter: blur(1rem);
      background-color: rgba(255, 255, 255, 0.12);  
    }

  }


.recentGekocht{
grid-column: 2/3;
grid-row: 3/ 4;
padding: 2rem;
border-radius: 2rem;
width: 25rem;
overflow: scroll;
pointer-events: all;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
.recentGekocht {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.12);  
}

}

.recentGekochtBlack{
grid-column: 2/3;
grid-row: 3/ 4;
padding: 2rem;
border-radius: 2rem;
width: 25rem;
overflow: scroll;
pointer-events: all;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
.recentGekochtBlack {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: rgba(255,255 ,255 , 0.12);  
}

}

.black{
grid-column: 1 / -1;
grid-row: 1 / -1;
background-color: rgba(0, 0, 0, 0.74);
}

.closebutton {
  position: absolute;
  font-size: 5rem;
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  right: 1.5rem;
  top: 0;
  text-decoration: none;
  z-index: 999;
}

.closebutton:active {
  opacity: 0.5;
}
