.homeGrid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  z-index: 0;
}

.homeinfogrid {
  pointer-events: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 2;
  display: grid;
  grid-template-columns: 4rem max-content 1fr 45% 4rem;
  grid-template-rows: 7rem 1fr 20% 2rem;
}

.topbar {
  grid-column: 4 / 5;
  grid-row: 1/ 2;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.topbarBlack {
  grid-column: 4 / 5;
  grid-row: 1/ 2;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  font-weight: 300;
  letter-spacing: 0.8rem;
  color: white;
  font-size: 3.6rem;
  font-weight: 300;
  grid-column: 2/3;
  grid-row: 1/ 2;
  align-self: center;
}

.card {
  pointer-events: all;
  grid-column: 4 / 5;
  grid-row: 2/ 4;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .card {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.cardBlack {
  pointer-events: all;
  grid-column: 4/6;
  grid-row: 2/ 4;
  position: relative;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .cardBlack {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.recentGekocht {
  grid-column: 2/3;
  grid-row: 3/ 4;
  border-radius: 2rem;
  width: 40rem;
  overflow: scroll;
  pointer-events: all;
}
