.loader {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-20deg, #000000 0%, #4e4376 100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loader_flex {
  display: grid;
  grid-template-columns: 1fr;
}

.asteroid {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
}

.loadergif {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 5rem;
  transform: scale(3.5);
}

.loadingtext {
  color: white;
}
