.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8rem;
  padding: 1rem 2rem 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .item {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 1.5rem;
  }
}

.item img {
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid white;
  border-radius: 2.5rem;
}

.item p {
  font-size: 1.4rem;
  color: white;
  font-weight: 300;
  margin-left: 1rem;
  width: 100%;
  line-height: 1.5rem;
}

.span {
  font-size: 1.2rem;
  color: #ffb101;
  font-weight: 700;
}
